.header {
    width: 100%;
    background-color: blueviolet;
    height: 70px;
    display: flex;
    justify-content: space-between;

}

ul {
    flex-wrap: wrap;
}

nav {
    background-color: chartreuse;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 800px) {
    header {
        height: auto;
    }

    h1 {
        display: none;
    }
}