.container{
    width: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    }

.num01{
width: 200px;
height: 200px;
background-color: deeppink;
}

.num02{
    width: 200px;
    height: 200px;
    background-color: rgb(94, 255, 20);
    }

.num03{
width: 200px;
height: 200px;
background-color: rgb(20, 255, 177);
        }

.num04{
            width: 200px;
            height: 200px;
            background-color: rgb(55, 20, 255);
            }


