.Quatro-Patas {
    color: chartreuse;
}

.Aquaticos {
    color: blue;
}

.Mamiferos {
    font-size: 24px;
    color: grey;
}

.Carnivoros {
    background-color: red;
}

.Pet {
    font-size: 12px;
}

#Bola-de-pelo {
    background-color: yellow;
}